/*************
*Gallery grid*
*************/

/*Grid container*/
.grid-wrap {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, min(250px, 100%/2 - 0.5rem));
	grid-auto-rows: auto;
	grid-gap: 0.5rem;
	grid-auto-flow: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/*Item container*/
.grid-item {
	box-sizing: border-box;
	border: 0.0625rem solid #77c;
	border-radius: 0.125rem;
	background-color: #99d;
	display: block;
	height: 20rem; /*Only for JS failure; JS script will override to square size*/
	color: #fff;
}

.grid-inner {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

/*Title block*/
.grid-item-title {
	display: block;
	position: absolute;
	height: 1.75rem;
	width: 100%;
	top: 0;
	text-align: left;
	padding: 0.125rem 0;
	text-indent: 0.75rem;
	border: none;
	flex: 0 1 auto;
	overflow-y: visible;
}

a.grid-item-title::before {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0.75;
	background-image: url('/static/travel.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 0.2s
}

a.grid-item-title:hover::before {
	opacity: 1;
	transition: opacity 0.2s;
}

.grid-item-body, .grid-item-body-alt {
	position: absolute;
	box-sizing: border-box;
	padding: 0.25rem;
	display: block;
	bottom: 0;
	top: 2rem;
	left: 0;
	right: 0;
	border: none;
	transition: color 0.2s, opacity 0.2s;
	text-align: left;
	text-indent: 2rem;
	overflow: hidden;
}

.grid-item-body p:first-of-type, .grid-item-body-alt p:first-of-type {
	margin-top: 0;
}

.grid-item-toggle:not(.grid-item-focus) .grid-item-body-alt, .grid-item-toggle.grid-item-focus .grid-item-body {
	user-select: none;
	color: transparent;
	opacity: 0;
	pointer-events: none;
}

.grid-item-toggle .grid-item-body::before,
.grid-item-toggle .grid-item-body-alt::before {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	opacity: 0.75;
	content: '';
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 0.2s;
}

.grid-item-toggle-caption {
	display: block;
	text-indent:0;
	margin:0;
	padding:0;
	width:100%;
	height:2rem;
	line-height:2rem;
	bottom:0;
	position:absolute;
	text-align:right;
	vertical-align:middle;
	right:2.5em;
	filter:opacity(75%);
}
	
.grid-item-toggle .grid-item-body::before {
	background-image: url('/static/maximize.png');
	background-color: #0007;
	border-radius: 4px 0 0 0;
	border-color: #0000;
	border-style: solid;
	border-width: 2px;
}

.grid-item-toggle .grid-item-body-alt::before {
	background-image: url('/static/minimize.png');
	background-color: #0007;
	border-radius: 4px 0 0 0;
	border-color: #0000;
	border-style: solid;
	border-width: 2px;
}

.grid-item-toggle .grid-item-body:hover::before, .grid-item-toggle .grid-item-body-alt:hover::before {
	opacity: 1;
	transition: opacity 0.2s;
}

.grid-item-inner {
	display: flex;
	flex-direction: column;
}

.grid-item.grid-item-focus {
	/*grid-column: auto / span 2;
	grid-row: auto / span 8;*/
}

.grid-header {
	display: block;
	width: 100%;
	height: 3rem;
	padding: 0.5rem 0;
	box-sizing: border-box;
	border: 0.125rem solid #66b;
	border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
	box-sizing: border-box;
	grid-column: 1 / -1;
	position: sticky;
	align-self: start;
	top: 0;
	z-index: 1;
}

.grid-header .grid-inner {
	overflow-y: visible;
	white-space: nowrap;
}

.image-gallery {
	width: auto;
	height: 100%;
	background: repeating-conic-gradient(#888 0% 25%, #aaa 25% 50%) 50% / 100px 100px;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	white-space: nowrap;
}

.image-gallery img {
	display: inline-block;
	scroll-snap-align: start;
	width: auto;
	height: 100%;
}

@keyframes resize-correction {
	0% {
		margin-left: 25%;
		width: 50%;
		margin-top: 25%;
		height: 50%;
	}
	100% {
		margin-left: 0;
		width: 100%;
		margin-top: 0;
		height: 100%;
	}
}

@keyframes resize-correction-reverse {
	0% {
		margin-left: -50%;
		width: 200%;
		margin-top: -50%;
		height: 200%;
	}
	100% {
		margin-left: 0;
		width: 100%;
		margin-top: 0;
		height: 100%;
	}
}